<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeontime.konik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizBook">
        <activity android:name="com.codeontime.konik.View.Rank"></activity>
        <activity
            android:name="com.codeontime.konik.View.QuestionsList"
            android:noHistory="true" />
        <activity android:name="com.codeontime.konik.View.QuestionAdd" />
        <activity android:name="com.codeontime.konik.View.ContestDetails" />
        <activity android:name="com.codeontime.konik.View.ContestAdd" />
        <activity android:name="com.codeontime.konik.View.Contests" />
        <activity android:name="com.codeontime.konik.View.BookAdd" />
        <activity android:name="com.codeontime.konik.LoginRegistration" />
        <activity android:name="com.codeontime.konik.LoginProfile" />
        <activity
            android:name="com.codeontime.konik.LoginCheck"
            android:noHistory="false" />
        <activity android:name="com.codeontime.konik.View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>